@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
*{
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    height: 100vh;
    line-height: 1.6;
}
.container{
    width: 100%;
    height: 100%;
    /*Smooth Scroll*/
    overflow-y: scroll;
    scroll-behavior: smooth;
}

nav{
    position:fixed;
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-family: "bebas neue";
    letter-spacing: 5px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration:none;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;

    /* Scroll Snap */
    scroll-snap-align: center;
}
section#donate{
    background: url("banner2.jpg") no-repeat center center/cover;
}
section#donate h2{
    color:#fff;
    font-family: "bebas neue";
    letter-spacing: 5px;
}

footer{
    background-color: #0f254e;
    color:#ffffff;
}
footer p{
    text-align: center;
}